{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.phone) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

{% endblock %}
