{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="d-flex align-items-top"> <!-- Utiliser flexbox pour aligner le contenu verticalement -->
                <a class="navbar-brand" href="{{ path("app_home") }}">
                    <img src="{{ asset('img/logo_project.png') }}" alt="Logo" class="align-middle">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup"> <!-- Utiliser justify-content-end pour aligner les liens à droite -->
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ path("app_meeting_index") }}">Accueil</a>
                    {% if app.user %}
                        <a class="nav-link" href="{{ url("app_logout") }}">Déconnexion</a>
                    {% endif %}
                </div>
            </div>
            {% if app.user %}
                <div>
                    <a class="profile-mobile nav-link" href="{{ path('app_profile_user', {'id':app.user.id}) }}">{% if app.user.profile != null %}{{ app.user.profile.firstName ~" "~app.user.profile.lastName }}{% else %}Mon Profil{% endif %}</a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}
