<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Projet Sortir</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{ path("app_home") }}">Accueil</a>
                <a href="{{ path("app_meeting_index") }}" class="nav-link">Liste des sorties</a>
                {% if app.user %}
                    <a class="nav-link" href="{{ url("app_logout") }}">Déconnexion</a>
                {% else %}
                    <a class="nav-link" href="{{ url("app_login") }}">Connexion</a>
                    <a class="nav-link" href="{{ url("app_register") }}">Inscription</a>
                {% endif %}
            </div>
        </div>
        {% if app.user %}
            <div>
                <a class="nav-link" href="{{ path('app_profile') }}">{% if app.user.profile != null %}{{ app.user.profile.firstName ~" "~app.user.profile.lastName }}{% else %}Mon Profil{% endif %}</a>
            </div>
        {% endif %}
    </div>
</nav>