{{ form_start(meetingForm) }}
        {{ form_row(meetingForm.name) }}
        {{ form_row(meetingForm.campus) }}
        {{ form_row(meetingForm.place) }}
        {{ form_widget(meetingForm.add_place) }}
        {{ form_row(meetingForm.duration) }}
        {{ form_row(meetingForm.date)}}
        {{ form_row(meetingForm.usersMax)}}
        {{ form_row(meetingForm.limitDate)}}
        {{ form_row(meetingForm.textNote)}}

        {{ form_widget(meetingForm.save) }}
        {{ form_widget(meetingForm.publish) }}

        {% if meeting is defined and meeting.id is not empty %}


                {% if meeting.state.value == 'Créée' %}
                        <a href="{{ path('app_meeting_delete', {'id': meeting.id}) }}" class="btn btn-custom">Supprimer la sortie</a>
                {% endif %}

                {% if meeting.state.value == 'Ouverte' %}
                        <a href="{{ path('app_meeting_cancel', {'id': meeting.id}) }}" class="btn btn-custom">Annuler la sortie</a>
                {% endif %}

                <a href="{{ path('app_meeting_index', {'id': meeting.id}) }}" class="btn btn-custom">Retour à la liste</a>
        {% endif %}

        <a href="{{ path('app_meeting_index') }}" class=" btn btn-custom">Annuler</a>
{{ form_end(meetingForm) }}


