{{ form_start(meetingForm) }}
<div class="container">
        <div class="row justify-content-center">
                <div class="title col-md-8 text-center mb-3">
                        <h1>VOTRE SORTIE</h1>
                </div>
        </div>
        <form>
                <div class="d-flex justify-content-center mb-3">
                        <div class="custom-card col-md-6 mb-3">

                                <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                        {{ form_label(meetingForm.name, null, {'label_attr': {'class': 'label-space'}}) }}
                                        {{ form_widget(meetingForm.name, {'attr': {'class': 'form-control input-space'}}) }}
                                </div>

                                <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                        {{ form_label(meetingForm.campus, null, {'label_attr': {'class': 'label-space'}}) }}
                                        {{ form_widget(meetingForm.campus, {'attr': {'class': 'form-control input-space'}}) }}
                                </div>

                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                {{ form_label(meetingForm.place, null, {'label_attr': {'class': 'label-space'}}) }}
                                                {{ form_widget(meetingForm.place, {'attr': {'class': 'form-control input-space'}}) }}
                                                {{ form_widget(meetingForm.add_place) }}
                                </div>

                                <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                        {{ form_label(meetingForm.duration, null, {'label_attr': {'class': 'label-space'}}) }}
                                        {{ form_widget(meetingForm.duration, {'attr': {'class': 'form-control input-space'}}) }}
                                </div>

                                <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                        {{ form_label(meetingForm.date, null, {'label_attr': {'class': 'label-space'}}) }}
                                        {{ form_widget(meetingForm.date, {'attr': {'class': 'form-control input-space'}}) }}
                                </div>

                                <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                        {{ form_label(meetingForm.usersMax, null, {'label_attr': {'class': 'label-space'}}) }}
                                        {{ form_widget(meetingForm.usersMax, {'attr': {'class': 'form-control input-space'}}) }}
                                </div>

                                <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                        {{ form_label(meetingForm.limitDate, null, {'label_attr': {'class': 'label-space'}}) }}
                                        {{ form_widget(meetingForm.limitDate, {'attr': {'class': 'form-control input-space'}}) }}
                                </div>

                                <div class="form-group d-flex justify-content-between align-items-center mb-3">
                                        {{ form_label(meetingForm.textNote, null, {'label_attr': {'class': 'label-space'}}) }}
                                        {{ form_widget(meetingForm.textNote, {'attr': {'class': 'form-control input-space'}}) }}
                                </div>
                        </div>
                </div>

                <!-- Boutons sous le formulaire -->
                <div class="d-flex justify-content-center">
                        <div class="row">
                                <div class="col">
                                        {{ form_widget(meetingForm.save) }}
                                </div>
                                <div class="col">
                                        {{ form_widget(meetingForm.publish) }}
                                </div>
                                {% if meeting is defined and meeting.id is not empty %}
                                        {% if meeting.state.value == 'Créée' %}
                                                <div class="col">
                                                        <a href="{{ path('app_meeting_delete', {'id': meeting.id}) }}" class="btn btn-custom">Supprimer la sortie</a>
                                                </div>
                                        {% endif %}
                                        {% if meeting.state.value == 'Ouverte' %}
                                                <div class="col">
                                                        <a href="{{ path('app_meeting_cancel', {'id': meeting.id}) }}" class="btn btn-custom">Annuler la sortie</a>
                                                </div>
                                        {% endif %}
                                        <div class="col">
                                                <a href="{{ path('app_meeting_index', {'id': meeting.id}) }}" class="btn btn-custom">Retour à la liste</a>
                                        </div>
                                {% endif %}
                                <div class="col">
                                        <a href="{{ path('app_meeting_index') }}" class="btn btn-custom">Annuler</a>
                                </div>
                        </div>
                </div>
        </form>
</div>
{{ form_end(meetingForm) }}


