{{ form_start(meetingForm) }}
        {{ form_row(meetingForm.name) }}
        {{ form_row(meetingForm.campus) }}
        {{ form_row(meetingForm.place) }}
        {{ form_row(meetingForm.duration) }}
        {{ form_row(meetingForm.date)}}
        {{ form_row(meetingForm.usersMax)}}
        {{ form_row(meetingForm.limitDate)}}
        {{ form_row(meetingForm.textNote)}}
        <button class="btn btn-custom">{{ button_label|default('Enregistrer') }}</button>
        {% if meeting is defined and meeting.id is not empty %}
                <a href="{{ path('app_meeting_publish', {'id': meeting.id}) }}" class="btn btn-custom">Publier la sortie</a>
        {% endif %}
{{ form_end(meetingForm) }}


