{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="title text-center mb-5">LES SORTIES</h1>
            {{ form_start(meetingFilterForm) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(meetingFilterForm.campus) }}
                    {{ form_row(meetingFilterForm.search) }}
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(meetingFilterForm.start_date) }}
                        {{ form_row(meetingFilterForm.end_date) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(meetingFilterForm.organisateur) }}
                    {{ form_row(meetingFilterForm.inscrit) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(meetingFilterForm.non_inscrit) }}
                    {{ form_row(meetingFilterForm.state) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(meetingFilterForm.rechercher) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(meetingFilterForm.create_new) }}
                </div>
            </div>
            {{ form_end(meetingFilterForm) }}

            <div class="table-responsive">
                <table class="custom-table">
                    <thead class="custom-thead">
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Clôture</th>
                        <th>Inscriptions</th>
                        <th>Organisateur</th>
                        <th>Inscrit</th>
                        <th>Sortie</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <td>{{ meeting.name }}</td>
                            <td>{{ meeting.date ? meeting.date|date('d-m-Y H:i') }}</td>
                            <td>{{ meeting.limitDate ? meeting.limitDate|date('d-m-Y') : '' }}</td>
                            <td>{{ meeting.nbUser }}/{{ meeting.usersMax }}</td>
                            <td><a href="{{ path('app_profile_user', {'id': meeting.organizer.id, 'sortie': meeting.id}) }}">{{ meeting.organizer.login }}</a></td>
                            <td></td>
                            <td>{{ meeting.state.value }}</td>
                            <td>
                                <a href="{{ path('app_meeting_show', {'id': meeting.id}) }}">Afficher</a>

                                {% if meeting.state.value != state_canceled and meeting.organizer == app.user %}

                                    {% if meeting.state.value == state_created %}
                                        <a href="{{ path('app_meeting_publish', {'id': meeting.id}) }}">Publier</a>
                                    {% endif %}

                                    {% if isButtonModifyAndCancelDisplayed(meeting) %}
                                        <a href="{{ path('app_meeting_edit', {'id': meeting.id}) }}">Modifier</a>
                                        <a href="{{ path('app_meeting_cancel', {'id': meeting.id}) }}">Annuler</a>
                                    {% endif %}

                                {% endif %}

                                {% if isButtonsInscriptionDisplayed(meeting) %}
                                    {% if meeting.participants.contains(app.user) %}
                                        <a href="{{ path('app_meeting_unRegisterToMeeting',  {'id': meeting.id}) }}">Se désister</a>
                                    {% else %}
                                        <a href="{{ path('app_meeting_registerToMeeting',  {'id': meeting.id}) }}"> S'inscrire <a>
                                    {% endif %}

                                {% endif %}

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Pas de sortie enregistrée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

