{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">LES SORTIES</h1>

            <div class="table-responsive">
                <table class="custom-table">
                    <thead class="custom-thead">
                        <tr>
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Durée</th>
                            <th>Nombre de participants maximum</th>
                            <th>Date limite d'inscription</th>
                            <th>Informations</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <td>{{ meeting.name }}</td>
                            <td>{{ meeting.date ? meeting.date|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ meeting.duration }}</td>
                            <td>{{ meeting.usersMax }}</td>
                            <td>{{ meeting.limitDate ? meeting.limitDate|date('Y-m-d') : '' }}</td>
                            <td>{{ meeting.textNote }}</td>
                            <td>
                                <a href="{{ path('app_meeting_show', {'id': meeting.id}) }}">show</a>
                                <a href="{{ path('app_meeting_edit', {'id': meeting.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Pas de sortie enregistrée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4">
                <a href="{{ path('app_meeting_new') }}" class="btn btn-custom">Créer une sortie</a>
            </div>
        </div>
    </div>
{% endblock %}

