{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">LES SORTIES</h1>
            {{ form_start(meetingFilterForm) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(meetingFilterForm.campus) }}
                        {{ form_row(meetingFilterForm.search) }}
                        <div class="form-group">
                            {{ form_row(meetingFilterForm.start_date) }}
                            {{ form_row(meetingFilterForm.end_date) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ form_row(meetingFilterForm.organisateur) }}
                        {{ form_row(meetingFilterForm.inscrit) }}
                        {{ form_row(meetingFilterForm.non_inscrit) }}
                        {{ form_row(meetingFilterForm.state) }}
                        {{ form_row(meetingFilterForm.rechercher) }}
                    </div>
                </div>
            {{ form_end(meetingFilterForm) }}

            <div class="table-responsive">
                <table class="custom-table">
                    <thead class="custom-thead">
                        <tr>
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Clôture</th>
                            <th>Inscriptions</th>
                            <th>Organisateur</th>
                            <th>Inscrit</th>
                            <th>Sortie</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <td>{{ meeting.name }}</td>
                            <td>{{ meeting.date ? meeting.date|date('d-m-Y H:i') }}</td>
                            <td>{{ meeting.limitDate ? meeting.limitDate|date('d-m-Y') : '' }}</td>
                            <td>{{ meeting.usersMax }}/{{ meeting.usersMax }}</td>
                            <td>{{ meeting.organizer.login }}</td>
                            <td></td>
                            <td>{{ meeting.state.value }}</td>
                            <td>
                                <a href="{{ path('app_meeting_show', {'id': meeting.id}) }}">Afficher</a>

                                {% if meeting.state.value != 'Annulée' and meeting.organizer== app.user %}
                                    <a href="{{ path('app_meeting_edit', {'id': meeting.id}) }}">Modifier</a>

                                    {% if meeting.state.value == 'Créée' %}
                                        <a href="{{ path('app_meeting_publish', {'id': meeting.id}) }}">Publier</a>
                                    {% endif %}

                                    {% if "now"|date("Y-m-d") < meeting.limitDate|date('Y-m-d') %}
                                         <a href="{{ path('app_meeting_cancel', {'id': meeting.id}) }}">Annuler</a>
                                    {% endif %}

                                {% endif %}

                                {% if meeting.organizer != app.user %}
                                    <a href="">S'inscrire</a>
                                    <a href="">Se désister</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Pas de sortie enregistrée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4">
                <a href="{{ path('app_meeting_new') }}" class="btn btn-custom">Créer une sortie</a>
            </div>
        </div>
    </div>
{% endblock %}

