{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>
    {{ form(form_filter_place) }}
    <table class="table">
        <thead>
            <tr>
                <th>Nom du lieu</th>
                <th>Rue</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
                <td>{{ place.street }}</td>
                <td>{{ place.latitude }}</td>
                <td>{{ place.longitude }}</td>
                <td>
                    <a href="{{ path('app_place_show', {'id': place.id}) }}">show</a>
                    {% if "ROLE_ADMIN" in app.user.roles %}
                        <a href="{{ path('app_place_edit', {'id': place.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun lieu trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_place_new') }}">Ajouter un lieu</a>
{% endblock %}
